<!-- 头部 -->
<script src="/style/js/header.js"></script>
<div th:fragment="header" class="layui-header" xmlns:th="http://www.thymeleaf.org">
    <div class="layui-logo">实验管理系统</div>
    <!-- 头部区域-->
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item">
            <a href="/">首页</a>
        </li>
        <li class="layui-nav-item" th:if="${identity} ne 'visitor'">
            <a href="javascript:;">选择实验室</a>
            <dl class="layui-nav-child">
                <dd th:each="lab:${labs}">
                    <a th:href="@{'/lab?id=' + ${lab.id}}" th:text="${lab.lab_name}"></a>
                </dd>
            </dl>
        </li>
        <li class="layui-nav-item" th:if="${identity} ne 'visitor'">
            <a href="{:url('Reservations/index_user')}">我的预约</a>
        </li>
        {/if}

        <li class="layui-nav-item" th:if="${identity} eq 'admin'">
            <a href="{:url('Reservations/index')}">管理预约</a>
        </li>

        <li class="layui-nav-item" th:if="${identity} eq 'admin'">
            <a href="/userManager">用户管理</a>
        </li>

        <li class="layui-nav-item" th:if="${identity} eq 'admin'">
            <a href="">实验室管理</a>
        </li>

        <li class="layui-nav-item" th:if="${identity} eq 'admin'">
            <a href="/term">设置</a>
        </li>
        
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">我的信息</a>
            <dl class="layui-nav-child">
                <dd th:if="${identity} ne 'visitor'"><a href="javascript:" id="password-btn">修改密码</a></dd>
                <dd><a href="/user/logout">注销</a></dd>
            </dl>
        </li>
    </ul>
</div>